.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.newTodo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 3px;
  margin-top: 2rem;
  margin-left: 20rem;
  width: 50rem;
}

.addTodoBtn {
  display: flex;
}

.todo {
  color: black;
  font-size: 30px;
}

.todoList {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.todo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}


.todo-input-box {
  width: 40rem;
}